<style type="text/css">
<!--
h1
{
	font-family:Arial;
	font-weight:bold;
	color:#B22222;
}
h2
{
	font-family:Times New Roman;
 	font-weight:bold;
	color:#8B0000;
}
p.anfang
{
	font-family:Arial;
}
p.ende
{
	font-family:Arial;
}
-->
</style>